* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}
.add_nav-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.add_nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
@media (max-width: 700px) {
  .add_nav-items {
    display: none;
  }
}
.add_header {
  display: flex;
  padding: 89px 0px 103px 0px;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/leo-roza-P_z_xlMGuEk-unsplash.png");
  background-size: cover;
  background-position: center;
}
.add_header h1 {
  color: #fff;
  font-size: 44px;
}
.add_recips_warp {
  max-width: 866px;
  padding: 54px;
}
.add_recips {
  max-width: 500px;
  margin: auto;
}
.title a {
  color: #000;
}
.title {
  font-size: 16px;
  font-weight: bold;
  padding: 9px 0px;
}
#title_hd {
  color: #17285a;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0;
}
.name_img {
  padding-bottom: 15px;
}
.name_img input {
  max-width: 483px;
  width: 100%;
  height: 45px;
  border: 1px solid #707070;
  border-radius: 25px;
  background: #f2f2f2;
  outline: none;
  padding: 0 0 0 17px;
}
.ingredientReq textarea {
  width: 100%;
  max-width: 466px;
  height: 106px;
  border: 1px solid #707070;
  border-radius: 20px;
  background: #f2f2f2;
  outline: none;
  padding: 17px;
}
.prepareStep textarea {
  border-radius: 20px;
  max-width: 466px;
  width: 100%;
  height: 238px;
  border: 1px solid #707070;
  background: #f2f2f2;
  outline: none;
  padding: 0 17px;
}
.buttonBtn {
  padding: 25px 0px 118px 0px;
}
.buttonBtn button {
  width: 187px;
  height: 40px;
  background: #00b158;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}
.mt-update {
  text-align: end;
  max-width: 520px;
  width: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.mt-update label {
  background-color: #4caf50;
  color: white;
  border-radius: 50px;
  border: none;
  width: 86px;
  text-align: center;
  font-size: 16px;
  height: auto;
  padding: 10px 32px;
  margin-top: 10px;
  font-weight: 700;
  float: right;
}
