* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.py-50 {
  padding: 50px 0px;
}
.nav-wrap {
  background-color: #fff;
  border-bottom: 1px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
.nav-items p:nth-child(1) {
  background-color: #00b158;
  color: #fff;
}
.header {
  display: flex;
  justify-content: center;
  padding: 235px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/leo-roza-P_z_xlMGuEk-unsplash.png");
  background-size: 100%;
}
.header-content {
  margin: 0 auto;
  max-width: 718px;
}

.header h1 {
  color: #fff;
  font-size: 44px;
}
.header-content form {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
}
.header input {
  border: none;
  font-size: 14px;
  width: 580px;
  height: 50px;
  border-radius: 25px;
}
.recipes-blk {
  background-color: #f2f2f2;
}
.recipes-blk h2 {
  font-size: 20px;
  font-weight: 400;
  color: #00b158;
}
.section-desc {
  font-size: 38px;
  color: #17285a;
}
.primary-btn {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #00b158;
  border-radius: 25px;
  outline: none;
  border: 0px;
  text-transform: uppercase;
}
.recipe-card {
  width: 343px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  text-decoration: none;
}
.recipe-card-wrap a {
  text-decoration: none;
  color: #000;
}

.name-content {
  display: flex;
  justify-content: space-between;
}
.recipe-card .content {
  padding: 20px;
}
.recipe_cont {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 35px;
  margin: 0 134px;
}
.footer {
  background-color: #17285a;
  height: 163px;
  padding: 0 134px;
}
.footer_top {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  height: 111px;
}
@media (max-width: 700px) {
  .footer {
    padding: 0px;
    height: 355px;
  }
  .footer_top {
    display: flex;
    flex-direction: column;
    height: 250px;
  }
}
.recipes-blk2 {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

/* @media (max-width: 700px) {
} */
.back-footer {
  display: flex;
  column-gap: 35px;
  color: #fff;
}
@font-face {
  font-family: apple chancery;
  src: url(/Apple\ Chancery\ 100.ttf);
}
.footer_top p {
  font-size: 40px;
  font-family: apple chancery;
  color: #fff;
}
.footer_bottom {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 15px;
}
